@import "../../../styles/variables";

.Text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  z-index: 100;

  @include breakpoint(lg) {
    justify-content: center;

    height: auto;
  }

  &__title {
    text-align: center;
    padding-bottom: 70%;

    @include breakpoint(lg) {
      padding-bottom: 0;
      text-align: left;
    }
  }

  &__block {
    background-color: white;
    @include breakpoint(lg) {
      background-color: transparent;
    }
  }

  &__paragraph {
    padding: clamp(1rem, 1vw, 2rem) 0;
  }
}
