@import "../../../styles/variables";

.section {
  position: relative;

  background-color: $Yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint(lg) {
    flex-direction: row;
    max-width: 1440px;
    height: 722px;
  }

  &__textBlock {
    position: relative;
    @include breakpoint(lg) {
      left: 50%;
      top: clamp(16px, 8vw, 120px);
      max-width: 45%;
    }
  }

  &__circle {
    background: white;
    border-radius: 50%;
    width: 75vw;
    height: 75vw;

    position: absolute;
    z-index: 1;

    top: -15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(lg) {
      width: clamp(50vw, 1vw, 55vw);
      height: clamp(50vw, 1vw, 55vw);

      max-width: 670px;
      max-height: 670px;

      position: absolute;
      top: -1rem;
      left: 45%;
    }
  }

  &__img {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    z-index: 2;

    width: 100%;
    max-width: 60%;
    height: auto;

    margin: 0 auto;

    @include breakpoint(lg) {
      top: 21px;
      right: 80%;

      height: auto;
      width: 100%;
      max-width: 588px;
      max-height: 702px;
    }
  }
}
