@import "../../../styles/variables";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  position: relative;
  z-index: 100;

  img {
    width: 100%;
    max-width: 50%;
    height: auto;

    padding-bottom: 2rem;

    @include breakpoint(md) {
      max-width: 30%;
    }
  }
  h1 {
    padding-bottom: 1rem;
    @include breakpoint(md) {
      max-width: 70%;
    }
  }

  p {
    text-align: left;
  }
}
