@import "variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 15rem;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: normal;
  overflow-x: hidden;
}

#__next {
  min-height: 100vh;
}

main {
  margin: 0 auto;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  overflow: hidden;
}

section {
  margin: 80px clamp(30px, 8vw, 125px);
  overflow: hidden;
}

.square {
  width: 100%;
  // height: 50%;
  background-color: $Yellow;

  @include breakpoint(md) {
    width: 50%;
  }
}
.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
