@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&display=swap");

//fonts
$Montserrat: "Montserrat", sans-serif;

//colors
$DarkBlue: #004aa6;
$LightBlue: #0186ff;
$Yellow: #fff100;

.DarkBlue {
  color: $DarkBlue;
}

.LightBlue {
  color: $LightBlue;
}

.Yellow {
  color: $Yellow;
}

.White {
  color: white;
}

@mixin breakpoint($point) {
  @if $point == xs {
    @media (min-width: 320px) {
      @content;
    }
  }
  @if $point == sm {
    @media (min-width: 576px) {
      @content;
    }
  }
  @if $point == md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $point == lg {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $point == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if $point == xxl {
    @media (min-width: 1440px) {
      @content;
    }
  }
}

.Title {
  font-family: $Montserrat;
  font-weight: 400;

  font-size: clamp(20px, 3vw, 40px);
}

.Text {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 20px);
}
.Text-bold {
  font-family: $Montserrat;
  font-style: bold;
  font-weight: 700;
  font-size: clamp(14px, 2vw, 20px);

  cursor: pointer;
}

.Button-blue {
  cursor: pointer;
  background-color: transparent;
  will-change: box-shadow, transform;

  text-align: center;

  border-radius: 112px;
  border: 3px solid $DarkBlue;
  padding: 1rem 3rem;
}

.Button-blue:hover {
  transform: translateY(-2px);
}
.Button-blue:active {
  transform: translateY(1px);
  box-shadow: $DarkBlue 0 2px 3px inset;
}

.Button-white {
  cursor: pointer;
  background-color: transparent;
  will-change: box-shadow, transform;
  border-radius: 112px;
  border: 3px solid white;
}
